.page_sergey {
    padding: 14px 10px;
    background-color: #fbfafa;
    white-space: pre-line;
}

.main {
    margin-bottom: 40px;
    padding-bottom: 20%;
}

.main__title {
    line-height: 25px !important;
    margin-bottom: 7px !important;
    max-width: 190px;
}

.main__label {
    margin-bottom: 12px !important;
    border-radius: 8px;
    background-color: white;
    color: #21283180 !important;
    max-width: 50%;
    width: fit-content;
    padding: 4px;
    font-weight: 600 !important;
}

.main__text {
    margin-bottom: 0 !important;
    opacity: 0.5;
    font-size: 12px !important;
    line-height: 24px !important;
    max-width: 50%;
}

.rabors {
    margin-top: 28px;
    margin-bottom: 40px;
}

.rabors__title {
    display: block;
    margin-top: 40ppx;
    margin-bottom: 20px;
    font-size: 21px !important;
    color: #1e1e1e;
    line-height: 15px;
}

.rabors__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 19px;
}

.rabors__list__item {
    border-radius: 18px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    background-color: white;
    box-shadow: 0 0 16px 0 #f3f3f3;
}

.rabors__list__item__image {
    width: 96px;
    min-width: 96px;
    height: 128px;
    border-radius: 12px;
    overflow: hidden;
}

.rabors__list__item__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rabors__list__item__text__title {
    font-size: 16px !important;
    line-height: 19.2px !important;
    font-weight: 700 !important;
    margin-bottom: 0 !important;
}

.rabors__list__item__text__descr {
    margin-bottom: 0 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 15.2px !important;
    color: #727171 !important;
}

.btn_go_bot {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: rgba(195, 195, 195, 1);
    height: 50px;
    border-radius: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.4399999976158142px;
    color: white;

    &:hover {
        color: white !important;
        background: rgba(195, 195, 195, 1) !important;
        border: none;
    }
}

.button_price {
    width: 100%;
}

@media (max-width: 400px) {
    .main__label {
        max-width: 70%;
    }

    .main__text {
        max-width: 60%;
    }
}


.fixedbutton {
    margin-top: 0px !important;
}



.banner {
    width: 100%;
    background-color: #D6CDD3;
    height: 320px;
    padding: 18px 16px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bannerTitle {
    display: block;
    font-size: 23px;
    font-weight: 700;
    line-height: 24.99px;
    letter-spacing: -0.022em;
    width: 210px;
}

.bannerTitle2 {
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 7.5px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.022em;
    color: rgba(33, 40, 49, 0.5);
    padding: 4px;
    border-radius: 8px;
}

.bannerSubtitle {
    font-size: 14px;
    line-height: 15.6px;
    display: block;
    width: 200px;
    font-weight: 400;
    color: rgba(33, 40, 49, 0.5);
    margin-top: 7.5px;
}