.container {
  border-radius: 20px;
  background-color: rgba(239, 237, 240, 1);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 11px;
}

.title {
  display: block;
  width: 250px;
  font-size: 23px;
  font-weight: 700;
  line-height: 24.99px;
  letter-spacing: -0.022em;
  white-space: pre-line;
}

.comments {
  margin-top: 23px;
}
