.container {
  border-radius: 20px;
  background-color: rgba(239, 236, 240, 1);
  padding: 10px;
  margin-top: -14px;
}

.banner {
  margin: 10px 0;
  min-height: 210px;
  height: auto !important;
  background-size: cover;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  button {
    position: relative;
    bottom: 0;
    left: 0;
  }

  p {
    opacity: 0.75;
    flex-grow: 1;
  }
}

.bannerSmall {
  margin: 10px 0;
  min-height: 210px;
  height: auto !important;
  background-size: cover;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  button {
    position: relative;
    bottom: 0;
    left: 0;
  }

  p {
    flex-grow: 1;
    opacity: 0.75;
  }
}

.additionalCard {
  b {
    flex-grow: 1;
  }

  button {
    position: relative;
    bottom: 0;
    left: 0;
  }
}

.splitContainer {
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
