.container {
  padding: 14px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgba(239, 236, 240, 1);
}

.banner {
  margin: 10px 0;
}

.splitContainer {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}