.container {
  background-color: white;
  box-shadow: 0 0 16px 0 rgba(243, 243, 243, 1);
  width: 230px;
  border-radius: 12px;
  padding: 10px 12px;
}

.title {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.11em;
  color: rgba(84, 85, 87, 1);
  white-space: pre-line;
}

.body {
  margin: 18px 0 19px 0;
}

.description {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.011em;
  color: rgba(84, 85, 87, 1);
}

.footer {
  display: flex;
  justify-content: end;
}

.readMore {
  font-size: 10px;
  font-weight: 500;
  line-height: 12.5px;
  letter-spacing: -0.022em;
  text-align: right;
  color: rgba(111, 4, 115, 1);
  background-color: transparent;
  outline: none;
  border: none;
}
