.container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgba(239, 236, 240, 1);
  padding: 14px 14px;
}

.banner {
  margin: 10px 0;
  aspect-ratio: 340 / 177;
  height: auto !important;
  background-size: contain;
}

.banner2 {
  aspect-ratio: 340 / 180;
  margin: 10px 0;
  height: auto !important;
  background-size: contain;
}

.bannerSmall {
  aspect-ratio: 165 / 177;
  height: auto !important;
  background-size: contain;
}

.splitContainer {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.fixedButtonContainer {
  margin-top: 30px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.subscribeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 49px;
}

.subscribeBtnTitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.022em;
  color: white;
}

.subscribeBtnPrice {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.4399999976158142px;
  background-color: rgba(82, 3, 85, 1);
  display: block;
  padding: 4px 7.3px;
  border-radius: 3px;
}

.absoluteBtn {
  left: 44% !important;
}