.container {
  padding: 12.5px 10px;
  border-radius: 18px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
  color: white;

  &:global(.right) {
    justify-content: right;

    .button {
      left: auto;
    }
  }

  &:global(.large) {
    .title {
      font-size: 21px;
    }

    .description {
      font-size: 12px;
    }
  }

  &:global(.small){
    .title {
      font-size: 16px;
      font-weight: 700;
    }

    .description {
      font-size: 11px;
    }
  }

  &:global(.black) {
    color: rgba(33, 40, 49, 1);
  }
}

.content {
  max-width: 60%;
}

.topText {
  font-size: 8px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0.11em;
  display: block;
  margin-bottom: 10px;
  opacity: 0.5;
}

.title {
  font-weight: 700;
  line-height: 24.99px;
  letter-spacing: -0.022em;
}

.description {
  font-weight: 500;
  letter-spacing: -0.022em;
  display: block;
  margin-top: 5px;

  &.descriptionLight {
    font-weight: 400;
    opacity: 0.5;
  }
}

.button {
  position: absolute;
  left: 12.5px;
  bottom: 10px;
}