.title {
  font-size: 21px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: -0.022em;
  color: rgba(33, 40, 49, 1);
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 15.6px;
  letter-spacing: -0.022em;
  color: rgba(33, 40, 49, 1);
  display: block;
  margin-top: 7.5px;
  white-space: pre-line;
  width: 250px;
}

.video {
  margin-top: 24px;
}