.container {

}

.banner {
  width: 100%;
}

.resultBlock {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  background-color: rgba(239, 237, 240, 1);
  padding: 16px 21px;
  border-radius: 18px;
  margin: 10px 0;
  white-space: pre-line;
}

.video {
  margin: 10px 0;
}