.container {

}

.banner {
  width: 100%;
  background-color: rgba(251, 248, 251, 1);
  height: 250px;
  padding: 18px 16px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.bannerTitle {
  display: block;
  width: 260px;
  font-size: 21px;
  font-weight: 600;
  line-height: 24.99px;
  letter-spacing: -0.022em;
}

.bannerSubtitle {
  font-size: 14px;
  line-height: 15.6px;
  display: block;
  width: 200px;
  font-weight: 400;
  color: rgba(33, 40, 49, 0.5);
  margin-top: 7.5px;
}

.resultBlock {
  font-size: 14px;
  background-color: rgba(239, 237, 240, 1);
  padding: 16px 21px;
  border-radius: 18px;
  margin: 10px 0;
  white-space: pre-line;

  p {
    display: block;
    margin-top: 5px;
  }
}

.video {
  margin: 10px 0;
}