.fixedButtonContainer {
  padding: 10px 0;
  position: sticky;
  bottom: 22.5px;
  left: 0;
  width: 100%;
  z-index: 100;
}

.subscribeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(85.15deg, #6f0473 -16.54%, #b409ba 147.86%),
    #6f0473;
}

.subscribeBtnTitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.022em;
  color: white;
}

.subscribeBtnPrice {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.022em;
  line-height: 1.25;
  background-color: rgba(82, 3, 85, 1);
  display: block;
  padding: 4px 8px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
}
