.container {
  width: 248px;
  aspect-ratio: 240 / 280;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 12px 9px 15px;
  background-color: white;
  border-radius: 15px;
  background-position: right bottom;
}

.topText {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.11em;
  color: rgba(33, 40, 49, 0.4);
  text-transform: uppercase;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.2px;
  letter-spacing: -0.011em;
  color: rgba(33, 40, 49, 1);
  display: block;
  margin-top: 8px;
  white-space: pre-line;
}

.result {
  color: rgba(151, 117, 152, 1);
  font-size: 13px;
  font-weight: 800;
  line-height: 13.2px;
  letter-spacing: -0.011em;
  display: block;
  margin-top: 12px;
}

.description {
  color: rgba(151, 117, 152, 1);
  font-size: 13px;
  font-weight: 500;
  line-height: 13.2px;
  letter-spacing: -0.011em;
  display: block;
  margin-top: 5px;
  white-space: pre-line;
}

.footer {
  position: absolute;
  left: 9px;
  bottom: 12px;
}

.description {

}

.text {
  color: rgba(151, 117, 152, 1);
  font-size: 13px;
  font-weight: 500;
  line-height: 13.2px;
  letter-spacing: -0.011em;
}