.page_base {
    padding: 14px 10px;
}

.base_main {
    margin-bottom: 14px;
    background: #d6cdd3;
    padding-bottom: 0;
}

.base_main__title {
    line-height: 25px !important;
    margin-bottom: 2px !important;
}

.base_main__subtitle {
    line-height: 30px !important;
    margin-bottom: 2px !important;
}

.base_main__text {
    line-height: 16.8px !important;
    opacity: 50%;
    margin-bottom: 12px !important;
}

.base_main__image {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

.what_is_base {
    margin-top: 15px;
    margin-bottom: 12px;
}

.what_is_base__small {
    color: rgba(131, 134, 147, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 10.4px;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    text-transform: uppercase;
    display: block;
    margin-top: 14px;
}

.what_is_base__subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: rgba(33, 40, 49, 1);
    display: block;
    margin: 5px 0 10px;
}

.what_is_base__text {
    margin-bottom: 18px !important;
    opacity: 0.6;
    margin-top: 16px;
}

.what_is_base__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button_price {
    width: 100%;
}

.banner {
    width: 100%;
    background-color: #D6CDD3;
    height: 320px;
    padding: 18px 16px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bannerTitle {
    display: block;
    font-size: 21px;
    font-weight: 700;
    line-height: 24.99px;
    letter-spacing: -0.022em;
}

.bannerTitle2 {
    display: block;
    margin: 2px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24.99px;
    letter-spacing: -0.022em;
}

.bannerSubtitle {
    font-size: 14px;
    line-height: 15.6px;
    display: block;
    width: 95%;
    font-weight: 400;
    color: rgba(33, 40, 49, 0.5);
    margin-top: 7.5px;
}