.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 10px 24px;
}

.avatar {
  width: 45px;
  height: 45px;
}

.name {
  font-size: 15px;
}

.logo {
    width: 45px;
    height: 45px;
}