.frame {
  max-width: 100%;
  height: auto;
  aspect-ratio: 346 / 220;
  border-radius: 18px;
}

.modalTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.022em;
}

.modalDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.4399999976158142px;
  display: block;
  margin-top: 10px;
}

.modalFooter {
  margin-top: 60px;
}