.button {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(90deg, var(--main-color), var(--main-color-hover));
    height: 50px;
    border-radius: 15px;
}

.title {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 23px !important;
    color: white !important;
    letter-spacing: -0.0275em;
}

.label {
    padding: 1px 8px;
    font-weight: 600 !important;
    font-size: 10px !important;
    line-height: 23px !important;
    color: rgba($color: #fff, $alpha: 0.7) !important;
    letter-spacing: -0.044em;
    background-color: #520355;
    border-radius: 3px;
}
