.container {
  background-color: white;
  border-radius: 20px;
  padding: 10px 12px 14px;
  box-shadow: 0px 0px 16px 0px rgba(243, 243, 243, 1);
  margin: 10px 0;
}

.title {
  font-size: 21px;
  font-weight: 700;
  line-height: 24.99px;
  letter-spacing: -0.022em;
  text-align: left;
  color: rgba(33, 40, 49, 1);
}

.description {
  font-size: 10px;
  line-height: 11.9px;
  letter-spacing: -0.022em;
  color: rgba(111, 4, 115, 1);
  text-align: right;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  margin-top: 11px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  background-color: #fff;
}

.card {
  aspect-ratio: 154 / 181;
  height: auto !important;
}