.audioPlayerContainer {
  width: 100%;
  background: linear-gradient(281.27deg, #007BFE 2%, #3B69FF 83.89%);
  border-radius: 20px;
  padding: 20px;
  color: white;
}

.audioTitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.28px;
  letter-spacing: -0.022em;
  color: rgba(255, 255, 255, 0.5);
}

.audioSubtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.04px;
  letter-spacing: -0.022em;
  color: rgba(255, 255, 255, 1);
  display: block;
  margin-top: 2px;
}

:global(.rhap_main) {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
}

:global(.rhap_container) {
  background: none;
  box-shadow: none;
  padding: 0;
  margin-top: 10px;
}

:global(.rhap_controls-section) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  grid-column-start: 1;
  grid-row: 1;
}

:global(.rhap_play-pause-button) {
  background-color: white;
  color: #4a90e2;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.rhap_progress-indicator) {
  background-color: white;
}

:global(.rhap_progress-filled) {
  background-color: white;
}

:global(.rhap_progress-section) {
  grid-column-start: 2;
}

:global(.rhap_time) {
  color: white;
}