@font-face {
  src: url("../assets/fonts/SFNSRounded.woff2") format("woff2-variations");
  font-family: "SF Rounded";
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "SF Rounded", sans-serif;
  word-wrap: break-word;
  text-rendering: optimizeSpeed;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-color: white;
  color: black;
}

.dark {
  --app-bg-color: #101011;
  --app-text-color: #fff;
  --app-black-text-color: #000;
  --app-opacity-bg: #222326;
  --app-transparent-black-button: #fff;

  --app-lesson-passed: #2b2c2d;
  --app-lesson-locked: #222326;

  --app-module-passed: #56a54fff;
  --app-module-current: #1d5cbe;
  --app-module-locked: #dedee7;

  --error-color: #e51c1c;
}

.light {
  --app-bg-color: rgba(237, 237, 244, 0.78);
  --app-text-color: #222326;
  --app-black-text-color: #fff;
  --app-opacity-bg: #fff;
  --app-transparent-black-button: #222326;

  --app-lesson-passed: #fff;
  --app-lesson-locked: #eae9e9;

  --app-module-passed: #56a54fff;
  --app-module-current: #1d5cbe;
  --app-module-locked: #dedee7;

  --error-color: #e51c1c;
}

.layout {
  margin: 0 auto;
  display: block;
  max-width: 425px;
  min-height: 100vh;
  position: relative;
  //background-color: var(--app-bg-color);
  //color: var(--app-text-color);
}
